<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video_test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staging.css')}}">
</head>
<body>
<div id="video-container">
   <video id="video" width="500" autoplay></video>
</div>

<div id="controls-container">
   <button id="snap">Snap Photo</button>
</div>


<div id="image-container">
    <canvas id="canvas" width="500" height="375" ></canvas>
</div>




<script src="{{ url_for('static',filename='js/stage.js')}}"></script>
</body>
</html>